<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.system.dao.SysMenuMapper">

    <select id="listMenu" resultType="com.api.entities.SysMenuVO">
        SELECT
            sys_menu.id id,
            sys_menu.parent_id parentId,
            sys_menu.name name,
            sys_menu.url url,
            sys_menu.type type,
            sys_menu.code code,
            sys_menu.icon icon,
            sys_menu.sort sort,
            sys_menu.remark remark,
            sys_menu.created_time createdTime,
            sys_menu.updated_time updatedTime
        FROM
            sys_menu
        LEFT JOIN sys_role_menu ON sys_role_menu.menu_id = sys_menu.id
        LEFT JOIN sys_user_role ON sys_user_role.role_id = sys_role_menu.role_id
        WHERE sys_user_role.user_id = #{userId}
    </select>
</mapper>
